﻿<div class="row">
    <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
        <h3 class="form-signin-heading">Register <label class="label label-danger">User</label></h3>

        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" name="inputFirstName" class="form-control" ng-model="user.firstname" placeholder="First Name"
                   validate-on="blur" required required-message="'First Name is required'">
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" name="inputLastName" class="form-control" ng-model="user.lastname" placeholder="Last Name"
                   validate-on="blur" required required-message="'Last Name is required'">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address"
                   validate-on="blur" required required-message="'Email is required'">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
                    validate-on="blur" required required-message="'Password is required'">
        </div>
        <div class="form-group col-xs-6">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </div>
        <div class="form-group col-xs-6">
            <a class="btn btn-lg btn-default" ng-href="#/login">Cancel</a>
        </div>
</form>
</div>
