﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="calconApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcon</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/AppContent/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="rootCtrl">
    <div class="row">
        <top-bar></top-bar>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <side-bar></side-bar>
        </div>
        <div class="col-md-7">
            <div id="main">
                <div ng-view></div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/common/app")
    @Scripts.Render("~/bundles/component")
</body>
</html>
