﻿<div id="sidebar" ng-show="userData.isUserLoggedIn">
    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content"> <!--ng-click="loadData(this)"-->
            <!--<a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">-->
            <a class="btn btn-success btn-xs" ng-if="!node.isLast" data-nodrag ng-click="loadChildData(this)">
                <span class="glyphicon" 
                      ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span><!--ng-click="(this)"-->
            </a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="delete(this)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editItem(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" ng-show="!node.isLast" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div class="row">
        <br />
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <button class="btn btn-primary" ng-click="newItem()">New Company</button>
                <!--<a class="btn btn-primary" ng-href="#/company">New Company</a>-->
            </div>
            <div class="col-sm-8">
                <button class="btn btn-default" ng-click="expandAll()">Expand all</button>
                <button class="btn btn-default" ng-click="collapseAll()">Collapse all</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes ng-model="data">
                    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
