﻿<div class="row" id="editemployeeWrapper">
    <div ng-if="!loadingemployee">
        <!-- edit form column -->
        <div class="col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-pencil-square-o"></i>
                <strong>New Employee</strong>
                <!--New Employee <strong>{{employee.Name}}</strong> employee. Make sure you fill all required fields.-->
            </div>
            <form class="col-xs-12 form-horizontal" role="form" novalidate angular-validator name="editemployeeForm" angular-validator-submit="updateemployee()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">First Name</label>
                            <input class="form-control" name="FirstName" type="text" ng-model="employee.FirstName" placeholder="First Name"
                                   validate-on="blur" required required-message="'First name is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Last Name</label>
                            <input class="form-control" name="LastName" type="text" ng-model="employee.LastName" placeholder="Last Name"
                                   validate-on="blur" required required-message="'Last name is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 selectContainer">
                            <label class="control-label">Department</label>
                            <select ng-model="employee.DepartmentId"
                                    class="form-control black"
                                    name="Department"
                                    ng-options="option.Id as option.Title for option in Departments"
                                    required
                                    required-message="'Department is required'"></select>
                            <input type="hidden" name="DepartmentId" ng-value="employee.DepartmentId"
                                   required
                                   required-message="'Department is required'" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Phone</label>
                            <input class="form-control" type="tel" name="Phone" ng-model="employee.Tel" placeholder="Phone"
                                   validate-on="blur" required required-message="'Phone is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Mobile</label>
                            <input class="form-control" type="tel" name="Mobile" ng-model="employee.Mobile" placeholder="Mobile"
                                   validate-on="blur" required required-message="'Mobile is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Email</label>
                            <input class="form-control" type="email" name="Email" ng-model="employee.Email" placeholder="Email"
                                   validate-on="blur" required required-message="'Email is required'">
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group col-xs-8">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="{{modeName}}" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>