﻿<div class="row" id="editdepartmentWrapper">
    <div ng-if="!loadingdepartment">
        <!-- edit form column -->
        <div class="col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-pencil-square-o"></i>
                <strong>New Department</strong>
            </div>
            <form class="col-xs-12 form-horizontal" role="form" novalidate angular-validator name="editdepartmentForm" angular-validator-submit="updatedepartment()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Department Name</label>
                            <input class="form-control" name="name" type="text" ng-model="department.Name" placeholder="Department Name"
                                   validate-on="blur" required required-message="'Department name is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 selectContainer">
                            <label class="control-label">Company</label>
                            <select ng-model="department.CompanyId"
                                    class="form-control black"
                                    name="Companies"
                                    ng-options="option.Id as option.Title for option in Companies"
                                    required
                                    required-message="'Select a company is required'"></select>
                            <input type="hidden" name="CompanyId" ng-value="department.CompanyId"
                                   required
                                   required-message="'Select a company is required'"/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="form-group col-xs-8">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="{{modeName}}"/>
                        <span></span>
                        <a class="btn btn-default" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>