﻿<div class="row" id="editcompanyWrapper">
    <div ng-if="!loadingcompany" ng-disabled="!loadingcompany">
        <div class="col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-pencil-square-o"></i>
                <strong>New Company</strong>
            </div>
            <form class="col-xs-12 form-horizontal" role="form" novalidate angular-validator name="editcompanyForm" angular-validator-submit="updatecompany()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8">
                            <label class="control-label">Company Name</label>
                            <input class="form-control" name="Name" type="text" ng-model="company.Name" placeholder="Company Name"
                                   validate-on="blur" required required-message="'Company title is required'">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8">
                            <label class="control-label">Phone</label>
                            <input class="form-control" type="tel" ng-model="company.Tel" name="Phone" placeholder="Phone"
                                   validate-on="blur" required required-message="'Company phone is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <label class="control-label">WebSite</label>
                            <input class="form-control" type="text" ng-model="company.WebSite" name="Website" placeholder="WebSite"
                                   validate-on="blur" required required-message="'Company web-site is required'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <label class="control-label">Email</label>
                            <input class="form-control" type="email" ng-model="company.Email" name="Email" placeholder="Email"
                                   validate-on="blur" required required-message="'Company email is required'">
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group col-xs-8">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="{{modeName}}" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="loadingcompany">
        <img />
    </div>
    </div>