﻿
#sidebar {
    margin: 5px;
}

.kendo-form {
}

    .kendo-form .row {
        margin: .5em 0 .5em 0;
    }



.kendo-fieldlist {
    margin: 0 .2em;
    padding: 0;
}

    .kendo-fieldlist li {
        list-style: none;
        padding-bottom: 1em;
    }

    .kendo-fieldlist label {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        color: #444;
    }

    .kendo-fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

span.k-widget.k-tooltip-validation {
    display;
    inline-block;
    width: 160px;
    text-align: right;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
    margin-top: 5px;
    line-height: 1.7em;
    width: 100%;
    box-sizing: border-box;
}

.k-tooltip-validation .k-warning {
    display: none;
}

.kendo-fieldlist li.status {
    text-align: center;
}

.kendo-fieldlist li .k-widget:not(.k-tooltip),
.kendo-fieldlist li .k-textbox .k-numerictextbox {
    margin: 0 5px 5px 0;
}

.confirm {
    padding-top: 1em;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}






#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 0;
}

.fileContext {
    float: right;
    position: relative;
    width: 193px;
    margin: 5px;
    padding: 0;
}

    .fileContext img {
        width: 197px;
        height: 110px;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

    .fileContext h3 {
        margin: 0;
        padding: 3px 5px 0 0;
        max-width: 191px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        text-transform: uppercase;
    }

        .fileContext h3 i {
            color: red;
        }

    .fileContext p {
        visibility: hidden;
    }

    .fileContext:hover p {
        visibility: visible;
        position: absolute;
        width: 203px;
        height: 210px;
        top: 0;
        margin: 0;
        padding: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#categoryDatail {
    min-height: 30em;
}

