﻿


/*#region @font-face  */

@font-face {
    font-family: 'iran_sans';
    src: url('../Font/iran_sans.eot');
    src: url(../fonts/iran_sans.eot) format('embedded-opentype'),url('../fonts/iran_sans.woff') format('woff'), url(../fonts/iran_sans.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*#endregion @font-face */

body, html, .row-offcanvas {
    font-family: iran_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
    background-color: whitesmoke;
    overflow-x: hidden;

}

code,
kbd,
pre,
samp {
    font-family: iran_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: iran_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-family: iran_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #f5f5f5;
    float: right;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

    #sidebar .nav {
        padding-left: 0;
        text-align: right;
    }*/

#sidebar {
    padding: 0 30px 0 30px;
}

    #sidebar img {
        width: 100%;
        height: 360px;
    }



#main {
    height: 100%;
    overflow: auto;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.movie {
}

.panel-body h4 {
    color: #a55400;
}

.red {
    color: red;
}

.green {
    color: green;
}

.shortPanel {
    max-height: 282px !important;
    overflow-y: auto;
}

.shortPadding {
    padding: 1px !important;
}

.shortMargin {
    margin: 0 !important;
}

ul.pagination > li {
    cursor: pointer;
}

/* Fixes alignment in nav lists */
.nav-pills [class^="fa-"],
.nav-pills [class*=" fa-"] {
    line-height: inherit;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }

    .row-offcanvas-left {
        left: -220px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 650px) {
    .movieDescription {
        margin-left: 240px !important;
    }
}

@media (max-width: 490px) {
    .movieDescription {
        margin-left: 125px !important;
    }
}



.shortInputSearch {
    width: 300px !important;
    float: right !important;
}

.jumbotron {
    position: relative;
    background: #000 url("../images/background.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

/*Edit form*/
#editMovieWrapper {
    background-color: #337AB7;
    color: white;
    padding: 20px;
}

.black {
    color: black !important;
}

/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.userinfo {
    margin-right: 10px;
    font-size: large;
    background-color: white;
}

/*Validation Errors*/
.has-error .control-label {
    color: #FFB658 !important;
}

.movieDescription {
    margin-left: 335px;
}

/* Autocomplete section */
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.red {
    color: red;
}

/*loading*/
/*.formProgress {
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(rgba(145, 145, 145, 0.21),#000);
    background: -o-linear-gradient(rgba(145, 145, 145, 0.21),#000);
    background: -moz-linear-gradient(rgba(145, 145, 145, 0.21),#000);
    background: linear-gradient(rgba(145, 145, 145, 0.21),#000);
    z-index: 9999;
    color: white;
    font-size: 16px;
    text-align: center;
}

.loading {
    margin: 0 auto;
    width: 250px;
    height: 165px;
    text-align: center;
    margin-top: 32%;
}

    .loading span {
        font-size: 15px;
        color: #ffffff;
        line-height: 3;
    }

    .loading .progress-gif {
        width: 48px;
        height: 48px;
        background-image: url('images/img-loding/gif-loading.gif');
        background-position: center center;
        background-size: 100% 100%;
        display: inline-block;
        margin: 0;
    }*/

.relativeClass {
    position: relative;
}

.loading {
    position: absolute;
    /*display: none;*/
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -moz-border-radius: 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px;
    border-radius: 5px 5px 5px;
    background: rgba(255, 255, 255, .5);
    /*url('../Images/Site/Loading.GIF') 50% 50% no-repeat;*/
}



.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height: 100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}